* {
	font-family: 'Syncopate', sans-serif;
}

h1,
h2,
h3, 
.rules {
	font-family: 'Syncopate', sans-serif;
	text-align: center;
}

.jumbotron {
	padding: 100px;
	background-image: url(../images/background_2.jpg);
	color: white;
}

.rules {
	padding: 0 25px;
}

/* IMAGES */

img {
	padding: 10px;
	  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

img:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#crystals {
	margin: 0 auto;
	align-content: center;
}

.gems {
	width: 32%;
}

/* BODY FORMATTING */

.col-md-6 {
	margin: 0 auto;
}


.wins,
.losses {
	padding: 0 100px;
	font-size: 1.2em;
}

#randNumber,
#uNumber {
	font-size: 6em;
	margin: 0 25px;
	text-align: center;
}

#scoreboard {
	text-align: center;
	font-size: 3em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 980px) {
	#crystals {
	margin: 0 75px 0 125px;
	}
}

@media screen and (max-width: 768px) {
	#crystals {
	margin: 0 auto;
	}
}

@media screen and (max-width: 640px) {
	#crystals {
		margin: 0 auto;
		align-content: center;
	}
	img {
		width: 50%;
		height: 50%;
	}
}

@media screen and (max-width: 480px) {
	.jumbotron {
		padding: 100px 25px;
	}
	#crystals {
		margin: 0 auto;
		align-content: center;
	}
	img {
		width: 30%;
		height: 30%;
	}
}

