* {
	font-family: 'Marvel', sans-serif;
}

body {
	position: relative;
}

a:hover,
a:visited,
a:active {
	text-decoration: none !important;
	color: #333333;
	background-color: transparent !important;
}



.page-body-format {
	padding: 0;
}

div.container-format {
	padding: 0;
}

/* Navbar Design */

.navbar-default {
	background-color: transparent !important;

}

#nav-logo {
	font-size: 1.7em;
	color: #000; 
}

.nav-design {
	font-size: 1.7em;
	color: #000;
	background: transparent;
}

.nav>li>a:hover, .nav>li>a:focus{
	text-decoration: none;
	background-color: transparent;
	color:  #00FFCD !important;
}

.navbar-layout {
	background: none;
	padding: 15px 35px;
}

/* Jumbotron */ 

.container-format {
	margin: 0;
	padding: 0;
}

div.jumbo-format {
	margin-top: 0px;
	padding: 15% 20% 75% 20% !important;
	background: url('images/laptop.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-arrow-down {
	margin-top: 200px; 
	text-align: center;
}
/* Typewriter Effect */ 

.typewrite {
	color: #000;
}

#typewriter-design {
	text-align: center;
}

/* Body Section - below Jumbotron */
.body-format {
	margin: 0 auto;
	padding: 0;
	display: block;
}

/* First paragraph - About */

#first-paragraph,
.contact-info {
	padding: 25% 5% !important;
	font-size: 1.4em;
	font-kerning: 1.2em;
	text-align: center;
}

/* Portfolio */

.header-design {
	text-align: center;
	color: #00FFCD;
}

.portfolio-div,
.portfolio-links,
.portfolio-images {
	padding: 0;
	margin: 0;
}

.portfolio-section {

	margin-top: 0px;
	padding: 50% 5% !important;
	background: url('images/hero.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	
	/* background: #000;
	margin: 0 auto; */
	padding: 75px 50px 100px 50px; 
}

.portfolio-gallery {
	margin: 0 auto;
	padding: 25px 0 0 0 ;
	display: inline-flex;	
}

.gallery {
	padding: 0 0 150px 0;
	margin: 0;
}

/* Portfolio Link Effects */

a {
  color: #00FFCD;
  text-decoration: none;
}

.box {
	border: 1px solid #fff;
	height: 325px;
}

.box a {
	color: black;
}

.box a:hover {
	color: #00FFCD;
	text-decoration: none;
}

.box a:visited {
	text-decoration: none;
}

.box {
	text-align: center;
	background: black;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


.box h2 {
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 1.2;
}

.box h3 {
	font-size: 1.3em;
}

.box h4 {
	font-size: 1em;
}

.box:hover {
	background: #000;

}

.box:hover h2 span {
  color: white;
}

.box:hover h3 {
  color: #999;
}


/* Portfolio Images */

#box_1 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_2 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_3 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_4 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_5 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_6 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_7 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_8 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
} 

#box_1,
#box_2,
#box_3,
#box_4,
#box_5,
#box_6,
#box_7,
#box_8 {
	background-size: 600px;
}
#box_1:hover,
#box_2:hover,
#box_3:hover,
#box_4:hover,
#box_5:hover,
#box_6:hover,
#box_7:hover,
#box_8:hover {
	background-size: 800px;
}

/* Submit Form */



.button-design {
	align-content: center;
	color: #000;
	background: #00FFCD;	
	border: 1px solid #00ffcd;
}

.button-design:hover {
	color: #00FFCD;
	background: #000;	
	border: 1px solid #000;
}

.button-design:visited {
	color: #00FFCD;
	background: #000;	
	border: 1px solid #000;
}

.button-design:active {
	color: #00FFCD;
	background: #000;	
	border: 1px solid #000;
}

/* Footer Design */
#footer {
	font-size: 10px;
	text-align: center;
	color: #dddddd;
	background: #333333;
	position: fixed;
	bottom: 0;
	width: 100%;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 12px 0;
}

/* Media Queries */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	.page-body-format,
	.body-format,
	.portfolio-gallery,
	.portfolio-section {
		width: 768px;
	}

	
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
	.page-body-format,
	.body-format,
	.portfolio-gallery,
	.portfolio-section {
		width: 992px;
	}
 }
