* {
	font-family: 'Marvel', sans-serif;
}

a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: #333333;
}

.page-body-format {
	padding: 0;
}

/* Navbar Design */

.navbar-layout {
	border-bottom: 5px solid #00FFCD;
}

/* Jumbotron */ 

.container-format {
	margin: 0;
	padding: 0;
}

.jumbo-format {
	margin-top: 0px;
	padding: 320px 300px 75px 300px;
	background: url('images/plexus_black.jpg') no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-arrow-down {
	margin-top: 200px; 
	text-align: center;
}
/* Typewriter Effect */ 

.typewrite {
	color: #00FFCD;
}

#typewriter-design {
	text-align: center;
}

/* Body Section - below Jumbotron */
.body-format {
	margin: 0 auto;
	padding: 0;
	display: block;
}

/* First paragraph - About */

#first-paragraph,
#contact-info {
	padding: 75px 0;
	font-size: 1.2em;
	text-align: center;
}

.about-arrow-down {
	margin-top: 100px; 
	text-align: center;
}

/* Portfolio */

.header-design {
	text-align: center;
	color: #00FFCD;
}

.portfolio-div,
.portfolio-links,
.portfolio-images {
	padding: 0;
	margin: 0;
}

.portfolio-section {

	margin-top: 0px;
	/* padding: 320px 300px 75px 300px; */
	background: url('images/plexus_black.jpg') no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	
	/* background: #000;
	margin: 0 auto; */
	padding: 75px 50px 100px 50px; 
}

.portfolio-gallery {
	margin: 0 auto;
	padding: 25px 0 0 0 ;
	display: inline-flex;	
}

.gallery {
	padding: 0 0 150px 0;
	margin: 0;
}

/* Portfolio Link Effects */

a {
  color: #00FFCD;
  text-decoration: none;
}

.box {
	border: 1px solid #fff;
	height: 325px;
}

.box a {
	color: black;
}

.box a:hover {
	color: #00FFCD;
	text-decoration: none;
}

.box a:visited {
	text-decoration: none;
}

.box {
	text-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


.box h2 {
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 1.2;
}

.box h3 {
	font-size: 1.3em;
}

.box h4 {
	font-size: 1em;
}

.box:hover {
  background: #000;
  /* animation: up-bump */
}

.box:hover h2 span {
  color: white;
}

.box:hover h3 {
  color: #999;
}


/* Portfolio Images */

#box_1 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_2 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_3 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_4 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_5 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_6 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_7 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
}
#box_8 {
	background: url("../portfolio/crystal_collector/assets/images/background_2.jpg") no-repeat;
} 

#box_1,
#box_2,
#box_3,
#box_4,
#box_5,
#box_6,
#box_7,
#box_8 {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#box_1:hover,
#box_2:hover,
#box_3:hover,
#box_4:hover,
#box_5:hover,
#box_6:hover,
#box_7:hover,
#box_8:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* Footer Design */
#footer {
	font-size: 10px;
	text-align: center;
	color: #dddddd;
	background: #333333;
	border-top: 5px solid #00FFCD;
	position: fixed;
	bottom: 0;
	width: 100%;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 12px 0;
}

/* Media Queries */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	.page-body-format,
	.body-format,
	.portfolio-gallery,
	.portfolio-section {
		width: 768px;
	}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
	.page-body-format,
	.body-format,
	.portfolio-gallery,
	.portfolio-section {
		width: 992px;
	}
 }

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) { ... } */