.container {
	padding: 0;
	margin: 0;
	width: 100%;
}

table,
th, 
h1, 
h3 {
	text-align: center;
	font-family: 'Abel', sans-serif;
}

th,
label {
	font-weight: bolder;
	font-size: 1.2em;
}

form {
	font-family: 'Abel', sans-serif;
}

label {
	text-align: center;
	font-size: 1.2em;
}

h1 {
	padding: 25%;
}

.h3format {
	font-size: 2em;
	font-weight: bolder;
}

.panelFormat {
	padding: 15px 50px;
	margin-bottom: 5%;
}

#header {
	color: white;
	margin: 0 auto;
}

.trainHeader {
	background: 
		linear-gradient(
	      rgba(0, 0, 0, 0.45), 
	      rgba(0, 0, 0, 0.45)
	      ),
	    url("images/train.jpg");
	background-size: 170%;
	background-repeat: no-repeat;
	background-position: 0 0 105px 0;
}

/* Footer */

#footer {
	font-size: 10px;
	text-align: center;
	color: #dddddd;
	background: #333333;
	position: fixed;
	bottom: 0;
	width: 100%;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 12px 0;
}

#footer a {
	color: #fff;
	text-decoration: none;
}
#footer a:hover {
	color: #666;
	text-decoration: none;
}


/* Media Queries */

@media screen and (max-width: 760px) and (min-width: 400px) {
	h1 {
		padding: 15% 0 15% 0;
	}
	.trainHeader {
		background-size: 170%;
		background-repeat: no-repeat;
		background-position: center;
	}
}

@media screen and (min-width: 768px) {
	.trainHeader {
		background-size: 170%;
		background-repeat: no-repeat;
		background-position: center;
		padding: 0 !important;
		margin: 0 !important;
	}
}